.dangerbutton {
            background: firebrick;
            color: white;
            text-shadow: None;
            border: solid firebrick;
            }
            

            
.lightgreymedborder {
            
            /*background-color: red;*/
            border: 2px solid lightgrey;
            margin-right: 40px;
            
            }            
            
 
.invoiceitemsrb {
            
            /*background-color: red;
            border-bottom: 1px solid lightgrey; */
            padding: 5px;
            } 
  	
.inventoryviewrb {
            
            /*background-color: red;*/
            border-bottom: 1px solid lightgrey;
            padding: 5px;
            }
            
.boldsimplelabel {
            font-weight: bold;
            /*color: green;*/
            } 
            
.boldgreenlabel {
            font-weight: bold;
            color: green;           
            }           
            
.adinfotext {
            /*font-weight: bold;*/
            color: grey;           
            }                                       
  	  	
.testarea {
            background-color: yellow;            
            }
            
.testareaanother {
            background-color: blue;            
            }            
       
.nsiamountdisplaybox {
            /*background-color: orange*/;  
            /*font-weight: bold;*/
            color: dimgrey;          
            }          
          
