.dangerbutton {
            background: firebrick;
            color: white;
            text-shadow: None;
            border: solid firebrick;
            }
            

            
.lightgreymedborder {
            
            /*background-color: red;*/
            border: 2px solid lightgrey;
            margin-right: 40px;
            
            }            
            
 
.invoiceitemsrb {
            
            /*background-color: red;
            border-bottom: 1px solid lightgrey; */
            padding: 5px;
            } 
  	
.inventoryviewrb {
            
            /*background-color: red;*/
            border-bottom: 1px solid lightgrey;
            padding: 5px;
            }
            
.boldsimplelabel {
            font-weight: bold;
            /*color: green;*/
            } 
            
.boldgreenlabel {
            font-weight: bold;
            color: green;           
            }           
            
.adinfotext {
            /*font-weight: bold;*/
            color: grey;           
            }   
            
.selectorboxgreyfil {
            background-color: #d4d1d0;  
            padding: 11px;  
            margin-bottom: 20px; 
            border-radius: 5px;       
            }    
            
 .selectorboxbordered {
            /*background-color: #d4d1d0;*/ 
            border: 2px solid lightgray; 
            padding: 11px;  
            margin-bottom: 20px; 
            /*border-radius: 5px;*/       
            }   
            
.dialog_highlight_gborder {
            
            /*background-color: red;*/
            border: 3px solid lightgrey;
            
            }                                                                                                    
  	  	
.testarea {
            background-color: yellow;            
            }
            
.testareaanother {
            background-color: blue;            
            }            
       
.nsiamountdisplaybox {
            /*background-color: orange*/;  
            /*font-weight: bold;*/
            color: dimgrey;          
            }          
          
